
// 定义字体、颜色规范

// //定义字体规范
 $font-size-one  : 30px;
 $font-size-two    : 26px;
 $font-size-three   : 22px;
 $font-size-four : 20px;
 $font-size-content    : 24px;

// // 定义颜色规范
 $color-dark-blue : #9bb1c8;
 $color-light-blue : #cdd8e3;
 $color-dark-pink : #f27473;
 $color-light-pink : #f69d9d;
